<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
            
      footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        position: fixed;
        width: 100%;

    }
    </style>
</head>
<body>
    <div>
    <footer>
        <p>&copy; 2023 Site de Vendas. Desenvolvido por Janiele_Alves.</p>
    </footer>

</div>
</body>
</html>